Info*
models
augmented
traindata
preprocessed_*
data
tests
docs

__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
.ipynb_checkpoints
logs/
checkpoints
results/
*.log
*.ckpt
.venv
*.txt
*.pth

# Ignore latex build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.idx
*.ilg
*.ind
*.bbl
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm